PORT=5000
#MONGODB_URI=mongodb://localhost:27017/flores-poeticas
MONGODB_URI=mongodb+srv://carrizopcamila_db_user:TU_PASSWORD@flores-poeticas.qbgrz2f.mongodb.net/florespoeticas?retryWrites=true&w=majority


# Cloudinary (subida de imágenes). No exponer en el frontend.
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
